<?xml version="1.0" encoding="UTF-8"?>

<web-app version            ="3.0" 
         xmlns              ="http://java.sun.com/xml/ns/javaee" 
         xmlns:web          ="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
         xmlns:xsi          ="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation ="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
>
   
    <!-- Configuração do Ouvinte do Quartz (Rotinas) *** Atenção: O Lister deve estar Configurado no Web.xml para a Execução das Rotinas em Background -->
    <listener>
        <listener-class>app.opensource.quartz.Listener</listener-class>
    </listener>
    
</web-app>
